:root{
    --cor-padrao: pink;
    --tamanho-de-fonte-padrao: 20px;
}

h2{
    --cor-padrao: violet;
    --tamanho-de-fonte-padrao: 30px;
    color: var(--cor-padrao, violet);
    font-size: var(--tamanho-de-fonte-padrao, 20px);
}

h3{
    color: var(--cor-padrao, violet);
    font-size: var(--tamanho-de-fonte-padrao, 20px);
}

p{
    color: var(--cor-padrao, violet);
    font-size: var(--tamanho-de-fonte-padrao, 20px);
}

span{
    color: var(--cor-padrao, violet);
    font-size: var(--tamanho-de-fonte-padrao, 20px);
}